@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
.dialog-close {
  position: absolute;
  top:-500px;
  right: 100px;
  width: 260px;
  height: 450px;
  background-color: azure;
  z-index: 15;
  opacity: 0;
  padding: 5px;
  font-family: 'Crimson Text', serif;
  font-size: 12px;
  transition-property: top,opacity;
  transition-duration: 0.2s;
}
.dialog-open {
  top:200px;
  opacity: 1;
}

.app-bar{
  font-family: 'Crimson Text', serif;
  font-size: 12px;
}
