.dialog-container-close{
    position:absolute;
  top:-2000%;
  right:30%;
  z-index:15;
  background-color:"white";
  padding:5px;
  opacity: 0;
  transition-property: 'top opacity';
  transition-duration: 0.4s;
}
.dialog-container-open{
    top:40%;
    opacity: 1;
}