.atributos-form-close{
  position:absolute;
  top:-2000%;
  left:-45%;
  z-index:15;
  background-color:'white';
  elevation:3;
  padding:5px;
  opacity: 0;
  transition-property: 'top opacity';
  transition-duration: 0.4s;
}
.atributos-form-open{
  top:140%;
  opacity: 1;
}
