.dialog-label-close{
  position:absolute;
  top:-3000px;
  right:10%;
  z-index:15;
  background-color:#81D4FA;
  elevation:3;
  padding:5px;
  opacity: 0;
  transition-property: 'top opacity';
  transition-duration: 0.2s;
}
.dialog-label-open{
  top:-100%;
  opacity: 1;
}
