.dialog-style-close{
  position:absolute;
  top:-3000px;
  right:10%;
  z-index:15;
  background-color:wheat;
  elevation:3;
  padding:5px;
  opacity: 0;
  transition-property: 'top opacity';
  transition-duration: 0.2s;


}
.dialog-style-open{
  top:-100%;
  opacity: 1;
}
