.dialog-heatmap-close{
  position:absolute;
  top:-3000px;
  right:10%;
  z-index:15;
  background-color:#F44336;
  elevation:3;
  padding:5px;
  opacity: 1;
  transition-property: 'top opacity';
  transition-duration: 0.2s;
}
.dialog-heatmap-open {
  top:-100%;
  opacity: 1;
}
